.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
data/tmp/
logs/
airflow/logs/
.idea/
materials/seminar_04_spark_core/practice/spark_core_data/
